name: Standard CI
on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
jobs:
  test:
    runs-on: ubuntu-latest
    name: Test
    steps:
        - name: checkout latest code
          uses: actions/checkout@v4

        - name: Set up node
          uses: actions/setup-node@v4
          with:
              node-version: '18'
            
        - name: Install dependencies
          run: npm install

        - name: Run Test
          run: npm run test
